@import url("https://use.fontawesome.com/d0c316cf02.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
  
  /* make text non-selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.title-logo {
  font-size: 0.9em;

  /* make text non-selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.emphasis {
  background: linear-gradient(135deg, #c544e6 0%, #2eb6d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}